.venv
**/__pycache__
Kalderos Surface Engineering Take Home Test.docx
TODO.md
xd.md
archive.py
code_standard.md
output.png
create_vue_project.md
test.html
test2.html
code_standard.md
frontend/node_modules/
npm-frontend/debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.vscode/
.ruff_cache
pokemonOLD.db